@media screen and (min-width: 770px) {
    section {
        width: 80%;
    }

    #msg {
        font-size: 10pt;
    }
    
}

@media screen and (min-width: 990px) {
    section {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    section {
        width: 40%
    }
}